## Handling Imbalance datasets
* Up Sampling
* Down Sampling

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(123) # initialise a random from seed value , for reproducibility

# Create dataset with 2 classes
n_samples = 1000
class_0_ratio=0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
## Create df with inbalanced dataset
class_0 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0,scale=1,size = n_class_0),
        'feature_2':np.random.normal(loc=0,scale=1,size = n_class_0),
        'target' : [0]*n_class_0
    }
)
class_1 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2,scale=1,size = n_class_1),
        'feature_2':np.random.normal(loc=2,scale=1,size = n_class_1),
        'target' : [1]*n_class_1
    }
)

In [7]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
## upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [11]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True,#sample with replacement
         n_samples = len(df_majority),
         random_state=42
         )

In [12]:
df_minority_upsampled.shape

(900, 3)

In [13]:
df_minority.shape

(100, 3)

In [14]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [15]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [ ]:
## Down Sampling

In [ ]:
class_0 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0,scale=1,size = n_class_0),
        'feature_2':np.random.normal(loc=0,scale=1,size = n_class_0),
        'target' : [0]*n_class_0
    }
)
class_1 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2,scale=1,size = n_class_1),
        'feature_2':np.random.normal(loc=2,scale=1,size = n_class_1),
        'target' : [1]*n_class_1
    }
)

In [17]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [18]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [19]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace=False,#sample with replacement
         n_samples = len(df_minority),
         random_state=42
         )

In [20]:
df_majority_downsampled.shape

(100, 3)

In [24]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [25]:
df_downsampled

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[200 rows x 3 columns]